.Members {
    float:left;
    width:30%;
}

.Menu {
    margin-bottom:40px;
    width:100%;
}

.groupstuff {
    margin-top:100px;
    margin-right:20px;
    float:right;
    width:60%;
    
}

.memberTable {
    margin-top:100px;
    margin-left: 20px;
    float:left;
    width:30%;
}