.Members {
    float:left;
    width:30%;
}

.Menu {
    margin-bottom:40px;
    width:100%;
}

.groupstuff {
    margin-top:100px;
    margin-right:12px;
    float:right;
    width:58%;
    
}

.memberTable {
    margin-top:100px;
    margin-left: 1px;
    float:left;
    width:20%;
}