.menubutton{
    min-width:150px;
    height:40px;
    background-color: white;
    color: #216375;
    font-size: 20px;
    font: courier;
    margin-left:5px;
    margin-right:5px;
    vertical-align: middle;
}
.Menu{
    height:50px;
}